


 
    



<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">CanPay</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <button mat-button routerLink="/contact"><a mat-button><span class="fa fa-address-card fa-lg"></span>Contact</a></button>
      </li>
      <li class="nav-item">
        <button mat-button routerLink="/register"><a mat-button><span class="fa fa-list fa-lg"></span>Register</a></button>
      </li>
      <li class="nav-item">
        <button mat-button routerLink="/logout"><a mat-button><span class="fa fa-info fa-lg"></span>logout</a></button>
      </li>
      
    </ul>
  </div>
</nav>
